<div>
    <div class="boxTitle">
        <h1>{{titleProduct}}</h1>
    </div>   

    <div class="boxDescriptionProduct">
        <div class="boxImage">
            <img src={{image}} alt="img-product" class="imgProduct">
        </div>
        <div class="boxInformationProduct">
            <h1>{{titleProduct}}</h1>
            <h3>Precio: ${{priceProduct}}</h3>
            <h3>{{description}}</h3>
            <h3>Categoria: {{categoryProduct}}</h3>
            <h3>Stock: {{stockProduct}}</h3>

            <div>
                <button class="btnChat">Agregar al carro</button>
            </div> 
        </div> 
                
    </div>
</div>
<script src="/js/product/index.js" ></script>